@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior:smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    z-index: 100;
    background-color: #1b1b1b;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
}

.portfolio-logo {
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}

ul {
    display: flex;
}

ul a {
    margin-left: 4rem;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s ease;
}

ul a:hover{
    color: #b76e2d;
}

#mobile-view {
    display: none;
    text-align: center;
    font-size: 3rem;
}



/* Home page style */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    color: #ffffff;
}
  
.home-container h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
  
.home-container h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
  
.home-container h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
  
span {
    color: #b76e2d;
}

.home-container p {
    font-size: 1.6rem;
}
  
.socila-media-profile a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid #b76e2d;
    border-radius: 50%;
    font-size: 2rem;
    color: #ffffff;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
  
.socila-media-profile a:hover {
    background-color: #b76e2d;
    color: #1b1b1b;
    box-shadow: 0 0 1rem #b76e2d;
}
  
.button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #b76e2d;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #b76e2d;
    font-size: 1.6rem;
    color: #1b1b1b;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}
  
.button:hover {
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #b76e2d;
    color: #ffffff;
}

.home-img img{
  border-radius: 50%;
}

/* about page style */
.about {
  background-color: #242323;
  color: #ffffff;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-img img {
    width: 300px;
}

.about h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.about-content p {
  font-size: 2rem;
  text-align: center;
  margin: 30px;
}


/* skills page style */
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  color: #ffffff;
}

.skills h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.skills img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  margin: 15px;
}

.skills img:hover {
  border: 5px solid #b76e2d;
}


/* project page style */
.project {
  background-color: #242323;
  color: #ffffff;
}
 
.project h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.project-container .project-card {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #1b1b1b;
  overflow: hidden;
  display: flex;
}

.project-card {
  cursor: pointer;
}

.project-card img {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0.7;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card .project-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #b76e2d);
  transform: translateY(100%);
  transition: 0.5s ease;
}

.project-card:hover .project-content {
  transform: translateY(0);
}

.project-content h4 {
  margin-top: 30px;
  font-size: 3rem;
}

.project-content p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.github-link{
  margin-right: 30px;
}

.project-content a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #b76e2d;
  border-radius: 50%;
  transition: 0.4s ease;
}

.project-content a i {
  font-size: 2rem;
  color: #1b1b1b;
}

.project-image {
  max-height: 200px;
}


/* Contact page style */
.contact{
  background-color: #1b1b1b;
  color: #ffffff;
}

.contact h2 {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-align: center;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-card input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #ffffff;
  background: #242323;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-card input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .button {
  margin-top: 2rem;
  cursor: pointer;
}

.input-card input:focus {
  border: 1px solid var(--main-color);
}

.contact form textarea:focus {
  border: 1px solid var(--main-color);
}

/* footer page style */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 9%;
}

.copy-right{
  background-color: #242323;
  color: #ffffff;
  font-size: 18px;
}

.footer-icons i{
   color: #ffffff;
   background-color: #b76e2d;
   padding: 8px 12px;
   border-radius: 5px;
   font-size: 20px;

}























@media screen and (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }


@media screen and (max-width: 991px) {
    .head {
      padding: 2rem 3%;
    }
  
    section {
      padding: 10rem 3%;
    }

    .projects {
      padding-bottom: 7rem;
    }
  
    .contact {
      min-height: auto;
    }
  
    .footer {
      padding: 2rem 3%;
    }
}


@media only screen and (max-width:799px) {
    .navbar-container{
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 1rem 3%;
        background-color: #1b1b1b;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
        display: none;
    }

    .navbar-container a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }

    #mobile-view {
        display: flex;
    }

    .showmenu {
        display: block;
    }
    
    .home {
      flex-direction: column;
    }
  
    .home-container h3 {
      font-size: 2.6rem;
    }
  
    .home-container {
      order: 2;
    }
  
    .home-container h1 {
      font-size: 5rem;
    }
  
    .home-img img {
      width: 70vw;
      margin-top: 4rem;
    }

    .about-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about-img{
      display: none;
    }

    .skills img{
      display: flex;
      flex-direction: column;

    }

    .project-container {
      grid-template-columns: repeat(1, 1fr);
    }

}


@media screen and (max-width: 617px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .home-img img {
    width: 80vw;
    margin-top: 8rem;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-card input {
    width: 100%;
  }

  section {
    padding: 22px;
  }

  .about-container p {
    font-size: 18px;
  }

  .skills-container img {
    height: 120px;
    width: 120px;
    margin: 12px;
  }
}